*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:700}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:1024px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --default-fontsize:15px;
  --title-fontsize:17px;
  --max-zindex:2147483648;
  --bg-1:#9276c3;
}



body, html{font-family:'Nunito',sans-serif; font-size:var(--default-fontsize); font-weight:400; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh; background-color:var(--bg-1);}
body{overflow-x:hidden;}
a, button{font-weight:bold;}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); font-weight:normal; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



.rancak-container{position:relative; min-height:calc(100vh - 70px);}



.back-to-home{position:absolute; top:var(--size-4); left:var(--size-4); display:flex; align-items:center; justify-content:center;}
.back-to-home .svgicon{margin-right:var(--size-2);}



.main-box{position:absolute; z-index:calc(var(--max-zindex) - 5000);}
.main-box .flex_ori{overflow:inherit;}
.main-link{width:100%;}
.main-name{margin:var(--size-2) 0; text-align:center; font-weight:900; text-transform:uppercase;}
.main-link-thumb{max-width:70%; margin:0 auto; position:relative; z-index:1000;}
.main-link-thumb:before{padding-top:100%;}

.main-box-1 .main-place:before, .main-box-4 .main-place:before{padding-top:64.01%;}
.main-box-2 .main-place:before{padding-top:78.12%;}
.main-box-3 .main-place:before{padding-top:53.37%;}
.main-box-4 .main-place img{transform:scaleX(-1);}



.bg-bottom, .float-player{--bottom-height:70px; position:absolute; left:0; width:100%;}
.bg-bottom{z-index:calc(var(--max-zindex) - 6000); bottom:calc(var(--bottom-height) - var(--size-3)); height:80px}

.float-player{z-index:calc(var(--max-zindex) - 7000); bottom:0; height:var(--bottom-height); margin-bottom:0; padding:var(--size-3);}
.float-player .playerScreen{display:none;}
.float-player .controls{height:100%; padding:0; display:flex; align-items:center;}
.float-player .controls .progress{width:100%; margin-left:55px;}
.float-player .controls .progress .time{position:static;}
.float-player .controls .rightblock{top:0;}
.float-player .controls .rightblock .volumeBar{top:21px;}
.float-player .controls .rightblock .volumeText{bottom:-44px;}





@media screen and (min-width:0px) and (max-width:1023px){
  .desktop-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  
  
  @media screen and (orientation:portrait){
    .main-box-1{bottom:5%; left:10%; width:120px;}
    .main-box-2{bottom:65%; left:60%; width:110px;}
    .main-box-3{bottom:50%; left:5%; width:130px;}
    .main-box-4{bottom:20%; left:50%; width:160px;}
  }
  
  
  
  @media screen and (orientation:landscape){
    .main-box-1{bottom:10%; left:5%; width:110px;}
    .main-box-2{bottom:0%; left:50%; width:120px;}
    .main-box-3{bottom:25%; left:25%; width:140px;}
    .main-box-4{bottom:25%; left:75%; width:140px;}
  }
}





@media screen and (min-width:1024px){
  .mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  .mobile-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  
  
  .main-box-1{bottom:10%; left:10%; width:210px;}
  .main-box-2{bottom:55%; left:20%; width:180px;}
  .main-box-3{bottom:25%; left:45%; width:240px;}
  .main-box-4{bottom:50%; left:75%; width:240px;}
}





@media screen and (min-width:1920px){
  .main-box-1{bottom:10%; left:10%; width:240px;}
  .main-box-2{bottom:55%; left:30%; width:180px;}
  .main-box-3{bottom:20%; left:50%; width:240px;}
  .main-box-4{bottom:30%; left:80%; width:290px;}
}